@model List<CreditCardAppMvc.Models.Application>

<h2 class="text-primary mb-4">Applications</h2>

<table class="table table-bordered table-striped">

    <thead class="table-primary">

        <tr>
            <th>User</th>
            <th>PAN</th>
            <th>Income</th>
            <th>Credit Score</th>
            <th>Credit Limit</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var app in Model)
        {
            <tr>

                <td>@app.User.Name</td>
                <td>@app.PAN</td>
                <td>@app.AnnualIncome</td>
                <td>@app.CreditScore</td>
                <td>@app.CreditLimit</td>
                <td>@app.Status</td>

                <td>

                    @if (app.Status == "Pending")
                    {
                        <a href="/Admin/Approve/@app.Id"
                           class="btn btn-success btn-sm">
                            Approve
                        </a>

                        <a href="/Admin/Reject/@app.Id"
                           class="btn btn-danger btn-sm">
                            Reject
                        </a>
                    }

                </td>

            </tr>
        }

    </tbody>

</table>